:root {
  --triangle-color: white; /* Cor padrão dos triângulos */
}

.bg-black{
    background-color: #1B1D23;
}

.bg-green{
    background-color: #2BB9A9;
}

.bg-red{
    background-color: #D62246;
}

.bg-silver{
    background-color: #C8CCCE;
}

.color-red{
    color: #D62246;
}

.color-silver{
    color: #C8CCCE;
}

.color-white{
    color: #F2F4F3 !important;
}

.color-black{
    color: black !important;
}

.header-size{
    min-height: 10vh;
}

.dashboard-intro{
  width: 85vw;
  position: absolute;
  top: 6%;
}

.dashboard-news{
  width: 90vw;
  position: absolute;
  top: 35%;
  height: 50vh;
}

.dashboard-news-2{
  width: 90vw;
  position: absolute;
  top: 60%;
  height: 50vh;
}

.dashboard-hr{
  border: none; /* Remove a borda padrão */
  border-top: 3px solid red; /* Define a grossura e a cor */
  width: 100%;
}

.dashboard-font-title{
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'formulaBold', sans-serif;
  line-height: 110%;
}

.dashboard-font-subtitle{
  font-size: 1.25rem;
  font-family: 'formulaRegular', sans-serif;
  line-height: 110%;
}

.dashboard-font-text{
  font-size: 1rem;
  font-family: 'formulaRegular', sans-serif;
  line-height: 130%;
}

.dashboard-button{
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); 
}

.dashboard-img img{
  max-width: 80%;
  margin-left: 15%;
  height: auto;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);
}

.dashboard-background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 190vh;
}


.container3D {
  width: 100%;
  height: 60vh; /* Altura do viewport */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;    /* Centraliza verticalmente */
  overflow: hidden;       /* Esconde qualquer transbordamento */
}

.logo-f1{
    background-image: url('../img/logo.png');
    width: 120px;
    height: 60px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown {
    position: relative;
}

.fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.team-nickname{
    margin-top: 5rem;
}

.team-nickname-bt{
    margin-top: 19rem;
}

.team-text{
    position: relative; 
    top: 40%; 
    left: 10%; 
}

.row {
    position: relative; /* Para permitir que os elementos filhos sejam posicionados em relação a este */
}

.central-image {
    position: absolute; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 

    max-width: 100%;
    height: 450px; 
}

.central-image-2 {
    position: absolute; 
    top: 40%; 
    left: 45%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 

    max-width: 100%;
    height: 450px; 
}

.background-all{
    background: rgb(255,190,0);
    background: linear-gradient(90deg, rgba(255,190,0,1) 42%, rgba(9,57,121,1) 77%); 
    height: 90vh;
}

  .navbar-custom {
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    width: 90%;
  }

  .navbar-custom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-custom .navbar-nav {
    margin-right: auto;
    max-width: 40%;
  }
  
  .navbar-custom .navbar-brand {
    margin-right: 2rem;
  }

  .navbar-custom .navbar-brand img{
    max-width: 50%;
    height: auto;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .contentTeams {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: white;
  }

  .contentDrivers{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
  }


  .news-card{
    min-width: 15%;
    min-height: 40vh;
    border-radius: 15px;
    position: relative; /* Mantenha o card no fluxo normal */
    display: flex;
    flex-direction: column; /* Alinhamento vertical dos elementos internos */
    justify-content: flex-end; /* Opcional: ajuste conforme necessário */
    overflow: hidden;
    background-color: #f9f9f9;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .news-title{
    text-align: center; /* Opcional: ajuste conforme necessário */
    margin-left: 5%;
    margin-right: 5%;
  }

  .card-team{
    min-width: 15%;
    min-height: 40vh;
    border-radius: 15px;
    position: relative; /* Mantenha o card no fluxo normal */
    display: flex;
    flex-direction: column; /* Alinhamento vertical dos elementos internos */
    justify-content: flex-end; /* Opcional: ajuste conforme necessário */
    overflow: hidden;
    background-color: #f9f9f9;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .card-team:hover{
    transform: scale(1.05); /* Aumenta o tamanho em 5% */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra suave */
  }

  .card-team-extra-text {
    position: absolute;
    bottom: 20%; /* Ajuste a posição conforme necessário */
    left: 50%;
    font-family: 'formulaRegular', sans-serif;
    transform: translateX(-50%);
    font-size: 0.6rem; /* Ajuste o tamanho do texto */
    font-weight: bold;
    opacity: 0;
    white-space: nowrap; /* Para manter o texto em linha única */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição para suavidade */
    transform: translateY(20%); /* Posição inicial para a animação */
  }

  .card-team:hover .card-team-extra-text {
    opacity: 1; /* Texto aparece */
    transform: translateX(-50%) translateY(0%); /* Fica na posição final */
  }

  .card-team:not(:hover) .card-team-extra-text {
      opacity: 0; /* Texto desaparece */
      transform: translateX(-50%) translateY(-20%); /* Retorna à posição inicial */
  }

  .card-team:hover .bar {
    transform: rotate(-45deg) translateX(0%) translateY(0%); /* Fica na posição final */
  }

  .card-team:not(:hover) .bar {
      transform: rotate(-45deg) translateX(40%) translateY(30%); /* Retorna à posição inicial */
  }

  .card-team:hover .card-team-car {
    transform: scale(1.1) translate(-45%, -50%); /* Aumenta o tamanho da imagem para 110% */
  }

  .card-team .bg-card-teams {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .card-team-name {
    margin-bottom: 35%;
    left: 50%;
    position: absolute;
    font-family: 'formulaBold', sans-serif;
    transform: translate(-50%, -50%);
    font-style: italic;
    width: 100%;
  }

  .news-card-link{
    position: absolute;
    width: 20%;
    left: 75%;
    top: 5%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    color:red;
    text-align: center;
  }

  .news-card-img{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 30%;
    max-height: 80%;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%); 

  }

  .season-background{
    position: relative;
    background-color: white;
    justify-content: center;
    height: 150vh;
    display: flex;
  }

  .season-filter{
    position: absolute;
    top: 10%;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  }

  .btn-filter{
    align-content: end;
  }

  .card-filter-season{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border: none;
  }

  .card-team-car{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 40%;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%); 

  }

  .card-team-car-div img {
    -webkit-filter: drop-shadow(-4px 4px 5px #222);
    filter: drop-shadow(-4px 4px 5px #222);
  }

  .card-team-logo{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 0%;
    width: 65%;
    max-height: 15%;
  }


  .team-background{
    height: 190vh;
    background-color: white;
  }



  .team-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: white;
  }

  .team-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: white;
  }

  .team-title .top-left {
    content: "";
    position: absolute;
    background-color: var(--triangle-color);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    animation: slide-bot 1.5s ease-out forwards; /* Animação */
    transform: translate(-150%, 150%) rotate(35deg); 
    animation-delay: 0s;

  }

  .team-title .top-right  {
    content: "";
    position: absolute;
    background-color: var(--triangle-color);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    animation: slide-top 1.5s ease-out forwards; /* Animação */
    transform: translate(150%, -100%) rotate(35deg);
    animation-delay: 0s;
  }

  .team-content .bot-left {
    content: "";
    position: absolute;
    background-color: var(--triangle-color);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    animation: slide-bellow-top 1.5s ease-out forwards;
    transform: translate(-190%, 0%) rotate(87deg);
    animation-delay: 0s;
}

  .team-content .bot-right {
    content: "";
    position: absolute;
    background-color: var(--triangle-color);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    animation: slide-bellow-bot 1.5s ease-out forwards;
    transform: translate(160%, 100%) rotate(135deg);
    animation-delay: 0s;
}

  @keyframes slide-bellow-bot {
      to {
          transform: translate(70%, 30%) rotate(135deg);
      }
  }

  @keyframes slide-bellow-top {
    to {
        transform: translate(-58.5%, -30%) rotate(140deg);
    }
  }

  @keyframes slide-bot {
    to {
      transform: translate(-50%, 50%) rotate(35deg);
    }
  }

  @keyframes slide-top {
    to {
      transform: translate(25%, -80%) rotate(35deg);
    }
  }


  .red-rectangle {
    width: 80%;
    height: 2%;
    background-color: #00A19B;
    transform: rotate(-55deg);
    margin: 20px auto;
    position: absolute;
    border-radius: 95%;
  }

  .black-rectangle{
    width: 80%;
    height: 2%;
    background-color: #000000;
    transform: rotate(-55deg);
    margin: 20px auto;
    position: absolute;
    left: 30%;
    border-radius: 95%;
  }

  .bars-container {
    width: 100%;
    height: 100%;
  }

  .bar {
      position: absolute;
      border-radius: 95%;
      transition: transform 0.5s ease;
      transform: rotate(-45deg); 
  }

  .bar.red {
      background-color: #dc0000;
  }

  .bar.teal {
    background-color: #00A19B;
  }

  .bar.black {
      background-color: #000000;
  }

  .title-content {
    position: relative;
    z-index: 1;
    top: -20%;
    left: -20%;
  }
  
  .title-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333; 
  }
  
  .title-content h1 span {
    color: var(--triangle-color); 
  }
  
  .title-content h2 {
    font-size: 1.5rem;
    top: -10%;
    font-weight: lighter;
    color: #333;
  }

  .team-circuit{
    position: absolute;
    left: 55%;
    top: 40%;
  }

  .team-circuit img{
    max-width: 90%;
  }

  .team-circuit-show{
    position: absolute;
    left: 55%;
    top: 30%;

  }
  
  .team-summary{
    position: absolute;
    left: 10%;
    top: 40%;
    width: 40%;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  }

  .team-summary h3{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .text-content {
    position: relative;
    z-index: 1;
    top: 20%;
    left: 25%;
    width: 30%;
  }

  .text-content h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #333; /* Cor de texto mais escura */
    word-wrap: break-word; /* Allows long words to break */
    overflow-wrap: break-word; /* Modern approach to word breaking */
    white-space: normal;
  }
  
  .car-image {
    position: absolute;
    z-index: 1;
    max-width: 80%;
    height: auto;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  
  .car-image img {
    max-width: 60vw;
    height: auto;
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
  }

  .drivers-background{
    position: relative;
    width: 60%;
  }

  .drivers-card{
    max-height: 100%;
  }

  @media (max-width: 768px) {
    .text-content h1 {
      font-size: 2rem;
    }
  
    .text-content h2 {
      font-size: 1.2rem;
    }
  }

  .navbar-custom .navbar-nav .nav-link {
    position: relative;
  }
  
  .navbar-custom .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    height: 2px; /* Ajuste a altura da barra conforme necessário */
    background-color: #cc0822; /* Cor da barra */
  }